{% extends "homepage/layout.html" %}
{% load staticfiles %}

	{% block content %}

      <div class="row">
      	<div class="col-lg-3">
      		<img class="profile_pic" width="210px" src="{% static 'homepage/images/profilepic.png' %}" alt="LeeHey Profile Picture" class="img-rounded">
      	</div>

      	<div class="col-lg-9 article">
      		{% if about_me %}
      			{% for about in about_me %}
      			<h1 class="article-maintitle">{{ about.main_title }}<span class="text-muted article-subtitle">{{ about.sub_title }}</span></h1>
      			{% autoescape off %}{{ about.content }}{% endautoescape %}
      			{% endfor%}
      		{% endif %}
      	</div>
      </div>
      <hr>

      <div class="row">
            {% if project_list1 %}
              {% for project in project_list1 %}
                    
                <div class="col-lg-4">
                  <div class="project_pic">
                    <a target="_blank" href="{{ project.project_url }}"><img class="profile_pic" width="100%" src="{% static project.pic_path %}" alt="LeeHey Profile Picture" class="img-rounded"></a>
                  </div>
                  <h4>{{project.project_name}}</h4>
                  <p>{{project.project_des}}</p>
                </div>

              {% endfor%}
            {% endif %}
       </div>

       <div class="row">
            {% if project_list2 %}
              {% for project in project_list2 %}
                    
                <div class="col-lg-4">
                  <div class="project_pic">
                    <a target="_blank" href="{{ project.project_url }}"><img class="profile_pic" width="100%" src="{% static project.pic_path %}" alt="LeeHey Profile Picture" class="img-rounded"></a>
                  </div>
                  <h4>{{project.project_name}}</h4>
                  <p>{{project.project_des}}</p>
                </div>

              {% endfor%}
            {% endif %}
       </div>

      <hr>

      <div class="row">
        <div class="col-lg-12 article">
      		{% if article_list %}
      			{% for article in article_list %}
      			<h1 class="article-maintitle">{{ article.main_title }}<span class="text-muted article-subtitle">{{ article.sub_title }}</span></h1>
      			{% autoescape off %}{{ article.content }}{% endautoescape %}
      			<hr>
      			{% endfor%}
      		{% endif %}
      	</div>
      </div>

      
  {% endblock %}
