{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="language" content="en" />

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'homepage/bootstrap/css/bootstrap.min.css' %}" />

	<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/style.css' %}" />

	<!-- Jquery -->
	<script src="{% static 'homepage/js/jquery.js' %}"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="{% static 'homepage/bootstrap/js/bootstrap.min.js' %}"></script>


	<title>LeeHey Personal Page</title>
</head>

<body>
	<div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li {% if menu == 'home'%} class="active" {% endif %}><a href="{%url 'index' %}">Home</a></li>
          <li {% if menu == 'project'%} class="active" {% endif %}><a href="#">Project</a></li>
          <li {% if menu == 'contact'%} class="active" {% endif %}><a href="{% url 'contact'%}">Contact</a></li>
        </ul>
        <h1>LeeHey<span class="text-muted website-subtitle"> Love Business and Coding</span></h1>
      </div>

	 {% block content %}{% endblock %}

	 <div class="footer">
        <p>© Copyright LeeHey. Let's Explore The World.</p>
      </div>

    </div>

</body>
  
</html>